body {
  margin: 0;
  padding: 0;
  background-image: url("bg.jpg");
  background-color: black;
  font-weight: 600;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  font-family: Roboto, sans-serif;
  text-align: center;
}

.container {
  align-items: center;
  padding: 0 40px 40px 40px;
}

header {
  width: 95%;
  max-width: 788px;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  padding: 10px 0 10px 0;
}

h1 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
}

.share-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #e82e81;
}

.share-button svg {
  margin-left: 12px;
  margin-top: 10px;
}

.welcome p {
  margin: 0 0 15px 0;
  text-align: center;
}

.container,
.welcome {
  max-width: 680px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile {
  width: 100%;
  background: rgba(255, 255, 255, 0.956);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 50;
  color: #111111;
  margin: 7px;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 16px 8px;
}

.tile:hover {
  transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
  transform: scale(1.02);
  color: #111111;

  background: rgba(240, 134, 208, 0.831);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(227, 177, 186, 0.3);
}

.tile:focus {
  transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
  transform: scale(1.02);
  color: #111111;

  background: rgba(227, 177, 186, 0.62);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(227, 177, 186, 0.3);
}

a {
  text-decoration: none;
  color: #fcebf3;
}

.image-container {
  height: 110px;
  width: 110px;
  border-radius: 48px;
  overflow: hidden;
}

.image-container img {
  height: 100%;
}

.tile p {
  margin: 0;
}
